# Clojure related
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# Python related
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

